<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{../css/test.css}">
</head>
<body>
<div class="l-site">
  <div class="l-nav">
    <nav class="nav">
      <ul>
        <li class="nav-primary"><a th:href="@{/product/addProduct}">Add Product</a></li>
        <li class="nav-primary"><a th:href="@{/product/editProduct}">Edit Product</a></li>
        <li class="nav-primary"><a th:href="@{/product/deleteProduct}">Delete Product</a></li>
        <li class="nav-primary"><a href="#">Manage Orders</a></li>
      </ul>
    </nav>
  </div>
  <div class="l-page">
    <section class="band band-a">
      <span id="home"></span>
      <div class="band-container">
        <div class="container">
          <div class="row">
            <h1> Registered Users </h1>
          </div>
          <table class="table table-striped table-bordered table-hover">
            <thead class="table-dark">
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${users}">
              <td th:text="${user.firstName}"></td>
              <td th:text="${user.lastName}"></td>
              <td th:text="${user.email}"></td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>
    </section>
    <section class="band band-b">
      <div class="band-container">
      </div>
    </section>

  </div>
</div>
</body>
</html>
